.cardManager {
  background-color: #ccc;
  border: #333 1px solid;
  position: absolute;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2vh 1fr 2vh 1fr 2vh 1fr;
}

.cardManager .sectionTitle {
  grid-column: 1 / span 2;
}

.cardManager .selectionEditing {
  grid-column: 1 / span 2;
}

.cardManager .cardMatches {
  grid-column: 1 / span 2;
}

.filterIn,
.filterOut,
.tagModification,
.setModification {
  overflow: auto;
}

.cardManager .filterOptions {
  overflow: auto;
}

.cardManager .selectionEditing {
  overflow: auto;
}

.cardManager .cardMatches {
  overflow: auto;

  .matchItem {
    display: inline-block;
    padding: 1px 5px;
    margin: 1px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;

    input {
      border-radius: 15px;
      border: 0;
      padding: 0 4px;
      margin: 0 0 1px 2px;
      cursor: pointer;
    }

    input:hover {
      color: #000;
      background-color: #fff;
    }
  }

  .matchItem.selected {
    background-color: #333;
    border-color: #333;
    color: #c90;
  }
}

.selected {
  background-color: #333;
  border-color: #333;
  color: #c90;
}

@media screen and (orientation: landscape) {
  .cardManager {
    height: 100%;
    left: 0;
    right: 19.5vmin;
  }
}

@media screen and (orientation: portrait) {
  .cardManager {
    width: 100%;
    top: 0;
    bottom: 8.5vmin;
  }
}
