.setItem {
  display: inline-block;
  border: #333 1px solid;
  margin: 5px;
  padding: 3px 8px;
  border-radius: 8px;
}
.setItem.selected {
  color: #fff;
  background-color: #333;
}

.setItem.clickable {
  cursor: pointer;
}
